/tip.png
/back.png
/blank.gif
/cancel.png
/mini_add.png
/mini_edit.png
/mini_refresh.png
/pencil.png
/redo.png
/reload.png
/search.png
/undo.png
/no.png
/ok.png
/large_chart.png
/large_clipart.png
/large_picture.png
/large_shapes.png
/large_smartart.png
/edit_add.png
/edit_remove.png
/cut.png
